html,body{
    height: 100vh;
    width: 100vw;
}

body{
    display: grid;
    grid-template-rows: 6fr 2fr 2fr;
    grid-template-columns: 1fr 6fr 1fr;
    margin: 0px;
    background: linear-gradient(135deg, rgba(4,36,36,1) 0%, rgba(44,44,44,1) 15%, rgba(22,22,22,1) 50%, rgba(0,0,0,1) 85%, rgba(0,0,0,1) 100%);
}

main{
    grid-area: 1/2;
}

header {
    grid-area: 2/2;
}

footer{
    grid-area: 3/2;
}

body > *:not(script){
    display: flex;
    align-items: center;
    justify-content: space-around;
}

svg.myLogo{
    width: 230px;
    height: 230px;
    transform: scale(2);
    transition: 0.3s transform;
    will-change: transform;
    fill: #424242;
}

svg.myIcons{
    width: 70px;
    fill: #424242;
    transform: scale(0);
    transition: 0.3s transform, 0.5s filter;
    will-change: transform;
    filter: blur(30px);
}

svg.myIcons.animate{
    transform: scale(1);
    filter: blur(0px);
}

svg.myLogo.logoAnimate{
    transform: scale(1);
}

svg.myIcons:hover{
    transform: scale(1.6);
    transition: 0.2s;
    fill: inherit; 
}

svg path {
    fill: inherit;
}

